In [1]:
import torch

In [2]:
torch.cuda.is_available()

True

In [3]:
import pandas as pd
import numpy as np

CANDIDATES DATA

In [7]:
#read csv file

candidates_data = pd.read_csv('../../data/candidates.csv')

In [8]:
"""Prints the first few
lines of the file"""

candidates_data.head()

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0

In [9]:
"""Counts the number
of lines in the file"""

len(candidates_data)

551065

In [10]:
"""Counts the number of lines
    that end with 1, which
    indicates a  nodule mal/ben"""

len(candidates_data[candidates_data['class'] == 1])

1351

ANNOTATIONS DATA

In [11]:
annotations_data = pd.read_csv('../../data/annotations.csv')

In [12]:
annotations_data.head()

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150

In [13]:
len(annotations_data)

1186

In [14]:
annotations_data['seriesuid'][0]

'1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860'

COORDINATES IN ANNOTATIONS AND CANDIDATES

In [15]:
annotations_data[annotations_data['seriesuid'] == '1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222365663678666836860']

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708